---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app_name }}
  name: {{ app_name }}
  namespace: {{ app_name }}
spec:
  externalTrafficPolicy: Cluster
  ports:
  - nodePort: {{ nodeport }}
    port: {{ api_port }}
    protocol: TCP
    targetPort: {{ api_port }}
  selector:
    app: {{ app_name }}
  sessionAffinity: None
  type: NodePort