---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ api_name }}
  namespace: qa
spec:
  maxReplicas: {{ max_replicas }}
  minReplicas: {{ min_replicas }}
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: {{ api_name }}
  targetCPUUtilizationPercentage: 80